/** @define PassingBlock */

.PassingBlock {
  display: block;

  &_el {
    opacity: 1;

    &--mod {
      opacity: 0;
    }
  }
}

.PassingBlock_el {
  display: block;
}

.PassingBlock_el--mod {
  display: inline-block;
}
